<!doctype html>
<html lang="en">
<head>
  {{template "../templates/resource.html"}}
</head>
<body>
{{template "../templates/header.html"}}

<main class="main-content list">
  <h1>HowTo</h1>

  <p>
    Short and to-the-point coding examples.
  </p>

  <ul class="no-bullet left-justified">
    <!-- rust-ring-aead.html -->
    <li class="v-space">
      <div>
        <h3 class="no-margin">
          <a href='{{ "rust-ring-aead.link" }}' class="black">{{ "rust-ring-aead.title" }}</a>
        </h3>
        <small>
          {{ "rust-ring-aead.updated" }}
        </small>
      </div>
    </li>
  </ul>
</main>

{{template "../templates/footer.html"}}
<script src="/static/js/index.js"></script>
</body>
</html>
