<!doctype html>
<html lang="en">
<head>
  {{template "../templates/resource.html"}}
</head>
<body>
{{template "../templates/header.html"}}

<main class="main-content article">
  <h1>{{ "title.h1" }}</h1>

  <small>A Scala Project</small>

  <p>
    I was recently gifted a <a href="https://www.catan.com/">Catan</a> expansion pack (the <a
    href="https://www.catan.com/cities-knights">Cities &amp; Knights</a> expansion), and I've thought to myself
    "wouldn't it be nice to learn the rules interactively, before playing with guests who would <i>also</i> have to
    learn the rules at the same time?". Well, instead of just using the official app <a
    href="https://www.catan.com/catan-universe">Catan Universe</a>, I've decided to use this as motivation to build my
    own online version of Catan.
  </p>

  <p>
    My other motivation in starting on this project is to learn how <a href="https://www.scala-js.org/">Scala.js</a>
    works. Scala is a language that I've writing in more than any other language, so it's only natural that I also try
    out Scala.js as well. Scala.js does seem strange to start a project with in 2023 when considering the rich ecosystem
    that JavaScript and TypeScript provide, but my motivation here is to try out programming paradigms that I'm
    unfamiliar with.
  </p>

  <p>
    This project will encompass many posts, which I will link here once completed. To see the current state of the
    project, try out the live version <a href="#todo">here</a> or check out the code at <a
    href="https://github.com/david-wiles/catan">github.com/david-wiles/catan</a>
  </p>

  <ul class="no-bullet left-justified">
    <!-- catan-intro.html -->
    <li class="v-space">
      <div>
        <h3 class="no-margin">
          <a href="#" class="black">{{ "title" }}</a>
        </h3>
      </div>
    </li>
  </ul>

</main>

{{template "../templates/footer.html"}}
<script src="/static/js/index.js"></script>
</body>
</html>
