<!doctype html>
<html lang="en">
<head>
  {{template "../templates/resource.html"}}
</head>
<body>
{{template "../templates/header.html"}}

<main class="main-content article">
  <h1>{{ "title" }}</h1>

  <p>One of first hits of the arcade era was Atari’s Asteroids, and it is still one of the most well known games of all
    time. For this reason, I’ve decided to remake it in a web-based version.</p>

  <p>Click <a href="/asteroids.html">here</a> to play.</p>

  <p>You can find the source code on github here: <a target="_blank" href="https://github.com/david-wiles/asteroids-ts">https://github.com/david-wiles/asteroids-ts</a>.
  </p>

</main>

{{template "../templates/footer.html"}}
<script src="/static/js/index.js"></script>
</body>
</html>
