<!doctype html>
<html lang="en">
<head>
  {{template "../templates/resource.html"}}
  {{template "../templates/prism/css.html"}}
</head>
<body>
{{template "../templates/header.html"}}

<main class="main-content article">
  <h1>{{ "title" }}</h1>

  <small>{{ "updated" }}</small>

  <p>
    This website was created without the use of a static site generator or other tools that work "out-of-the-box". This
    is partly due to my desire to create something new, but mostly because I didn't want to learn a new framework just
    to create a website. I wanted to create a website that was <strong>fast</strong>, <strong>cheap</strong>,
    and<strong>easy to maintain</strong>. I use <code>yarn</code> for project management and <code>webpack</code> to
    process JavaScript to make maintenance and reproducibility a bit simpler.
  </p>

  <p>
    This website is just HTML, which makes it as fast as possible given the circumstances. My <a href="/index.html">index.html</a>load
    a total of 80.48kB over 4 requests (the html, the fonts, and the favicon). If you already have the fonts and favicon
    cached by your browser, the page load will be 4.39kB! I limit the number of requests per page load as much as
    possible by inlining all JS and CSS, which I talk about later.
  </p>

  <p>
    I host <strong>everything</strong> on my site from my site, no CDN's used at all. This does make it a bit slower
    since it is all hosted from a free static site on<a href="https://render.com">Render</a>, but this does ensure
    complete privacy for you. Loading <a href="/index.html">index.html</a> for me with a private window in Firefox takes
    about 1.33s: 810ms for <code>DOMContentLoaded</code> to fire, and ~0.5s to load the fonts and favicon. A cached page
    load will be 419ms: 107ms for <code>DOMContentLoaded</code> and ~300ms for the rest. Not crazy, but not bad for a
    website hosted for free.
  </p>

  <p>
    This project is composed of three parts (as is any website): HTML, CSS, and JavaScript.
  </p>

  <ul>
    <li>
      HTML: No static site generators, just my custom template engine.
    </li>
    <li>
      CSS: I use SCSS to reduce the amount of duplicated selectors in my code. Yes, this site would be less prone to
      versioning issues down the road with pure CSS, but I think the source is much more maintainable when SCSS is used
      over CSS.
    </li>
    <li>
      JavaScript: 100% Vanilla, no frameworks. One library is used for code highlighting (Prism), but only on pages
      which have code examples. Webpack to minify the JS.
    </li>
  </ul>

  <h2>
    HTML: Custom Template Engine
  </h2>

  <p>
    My custom template engine is written with Scala Native and uses a syntax based on the Go template syntax. The only
    features it has are:
  </p>

  <ul>
    <li>
      Replaces template placeholders with the contents of the specified template file.
    </li>
    <li>
      Replaces variables with pre-defined environment variables.
    </li>
  </ul>

  <p>
    These features are just enough to minimize duplicated code while still making it as easy as writing pure HTML. You
    can find the source code for the project at <a href="https://github.com/david-wiles/templater">github.com/david-wiles/templater</a>.
    I currently use this template engine with a short bash script that walks through the <code>html</code> directory and
    builds the HTML files.
  </p>

  <h2>
    Vanilla JavaScript
  </h2>

  <p>
    There isn't really any need for JavaScript on my site, but it is nice to have some interactive features. Other than
    prismJS for code highlighting, the only JavaScript on the page is used for theme toggling (check out the moon icon
    in the upper-righthand corner!).
  </p>

  <h2>
    SCSS to CSS
  </h2>

  <p>
    <code>node-sass</code> is easily the most heavyweight dependency of this project, but I do think that it is
    necessary if only for the benefit of maintainability. This adds variables, macros, modules, and selector nesting to
    CSS. Making a change to a nested selector in CSS is a nightmare, but in SCSS it can be a single-line change.
    Although there is talk of updating the CSS standard, SCSS probably won't be going away due to the way that <a
    href="https://news.ycombinator.com/item?id=32248419">CSS parsing works</a>.
  </p>

  <h2>
    Script and StyleSheet Inlining
  </h2>

  <p>
    CSS and JS inlining is somewhat of a "secret sauce" to get sites to load faster. Replacing &lt;link&gt; and &lt;script&gt;tags
    with the actual source for those links prevents the browser from needing to make extra HTTP requests and lets the
    browser's parser continue through the page without needing to stop. It is relatively easy to add this to a project,
    too. I have a script, inline.js, in my project which does this in a separate step during my <code>yarn run
    build:prod</code>compilation.
  </p>

  <p>
    First, the script reads the given directory's files:
  </p>

  <pre><code class="language-js">
let files = fs.readdirSync(dir);
files.forEach((file) => { })
  </code></pre>

  <p>
    If the "file" is a directory, we recursively call the script's main function again. Otherwise, we search for links
    and
    scripts in the text:
  </p>

  <pre><code class="language-js">
let html = fs.readFileSync(file).toString();
let links = findLinks(html);
  </code></pre>

  <p>
    <code>findLinks</code> will use regex to search the text
  </p>

  <pre><code class="language-js">
let scripts = html.matchAll(/&lt;script\s+(defer){0}\s*src="([.a-zA-Z0-9-\/]+\.js)"\s*(defer){0}\s*&gt;&lt;\/script&gt;/gm);
let result = scripts.next();

// snip

let stylesheets = html.matchAll(/&lt;link\s+rel="stylesheet"\s+href="([.a-zA-Z0-9-\/]+\.css)"\s*\/&gt;/gm);
result = stylesheets.next();
  </code></pre>

  <p>
    Finally, the matching file's contents will replace those link and script tags
  </p>

  <pre><code class="language-js">
links.forEach((link) => {
  if (cache[link.file] === undefined) {
    cache[link.file] = link.type === "js" ?
      "<script>" + fs.readFileSync(base + link.file).toString() + "</script>" :
      "<style>" + fs.readFileSync(base + link.file).toString() + "</style>";
  }
  html = html.replace(link.tag, function () { return cache[link.file]; });
});
  </code></pre>

  <p>
    This file can be found <a href="https://github.com/david-wiles/davidwiles.net/blob/main/inline.js">at inline.js</a>,
    and the entire source code of this website is at <a href="https://github.com/david-wiles/davidwiles.net">github.com/david-wiles/davidwiles.net</a>.
  </p>
</main>

{{template "../templates/footer.html"}}
{{template "../templates/prism/js.html"}}
<script src="/static/js/index.js"></script>
</body>
</html>
