<!doctype html>
<html lang="en">
<head>
  <title>{{ "title" }}</title>
  {{template "../templates/resource.html"}}
</head>
<body>
{{template "../templates/header.html"}}

<main class="main-content list">
  <h1>Showcase</h1>

  <p>
    A curated collection of projects I've completed.
  </p>

  <ul class="no-bullet left-justified">

    <!-- davidwiles.net.html -->
    <li class="v-space">
      <div>
        <h3 class="no-margin">
          <a href='{{ "davidwiles.net.link" }}' class="black">{{ "davidwiles.net.title" }}</a>
        </h3>
        <small>
          {{ "davidwiles.net.updated" }}
        </small>
      </div>
    </li>
    <!-- classic-asteroids.html -->
    <li class="v-space">
      <div>
        <h3 class="no-margin">
          <a href='{{ "classic-asteroids.link" }}' class="black">{{ "classic-asteroids.title" }}</a>
        </h3>
        <small>
          {{ "classic-asteroids.updated" }}
        </small>
      </div>
    </li>
  </ul>
</main>

{{template "../templates/footer.html"}}
<script src="/static/js/index.js"></script>
</body>
</html>
