<!doctype html>
<html lang="en">
<head>
  {{template "templates/resource.html" }}
</head>
<body>
{{template "templates/header.html"}}

<div class="main-content article">
  <h1>David's Blog</h1>
  <p>
    👋 Thanks for visiting my website!
  </p>
  <p>
    You might notice there's not much here. I'm working on it so check back soon!
  <p>
    Feel free to shoot me an email at "me" at "davidwiles" dot "net".
  </p>
</div>

{{template "templates/footer.html"}}
<script src="/static/js/index.js"></script>
</body>
</html>
