<!doctype html>
<html lang="en">
<head>
  {{template "templates/resource.html" }}
</head>
<body>
{{template "templates/header.html"}}

<div class="main-content article">
  <h1>David's Blog</h1>
  <p>
    👋 Thanks for visiting my website!
  </p>
  <p>
    I am a software engineer currently working with distributed systems, with full-stack experience. I've completed a
    Bachelor's and Master's degree in Computer Science, which was more than enough school for me. Anyone that knows me
    knows that I ❤️ caffeine. Before I can start coding, I NEED my coffee. When I'm not coding, I'm either playing the
    cello, golfing, or spoiling my cat, Sheba.
  </p>
  <p>
    Things you'll find on this website are interesting tech I'm learning about, projects I've been working on, reviews
    of my newest coffee gadgets, and short examples of common coding problems. Hopefully you find some of it interesting!
  </p>
</div>

{{template "templates/footer.html"}}
<script src="/static/js/index.js"></script>
</body>
</html>
