<!doctype html>
<html lang="en">
<head>
    {{template "templates/resource.html" }}
</head>
<body>
{{template "templates/header.html"}}

<div class="main-content article">
    <h1>David's Blog</h1>
    <p>
        Thanks for visiting my website. There's not a lot of content here but maybe that'll change in the near future
    </p>
    <p>
        I recently discovered Ben Stoke's <a target="_blank" href="https://tinyprojects.dev/">Tiny Projects Blog</a>, and I was inspired
        to pursue the same goals as his: create a new tiny(ish) project every few weeks and actually complete it. This
        goal has been severely hampered by my graduate thesis, but the second best time to start anything is right now.
        Check out the <a href="/projects/list.html">projects tab</a> to see what software projects I've been working on.
        The <a href="/blog/list.html">blog tab</a> has some of my thoughts and the <a href="/coffee/list.html">coffee
        tab</a> has some articles about what I've been drinking.
    </p>
</div>

{{template "templates/footer.html"}}
<script src="/static/js/index.js"></script>
</body>
</html>
