<!doctype html>
<html lang="en">
<head>
  <title>{{ "title" }}</title>
  {{template "../templates/resource.html"}}
</head>
<body>
{{template "../templates/header.html"}}

<main class="main-content list">
  <h1>Coffee</h1>

  <p>
    Reviews of my coffee things.
  </p>

  <ul class="no-bullet left-justified">
    <!-- ratio-six.html -->
    <li class="v-space">
      <div>
        <h3 class="no-margin">
          <a href='{{ "ratio-six.link" }}' class="black">{{ "ratio-six.title" }}</a>
        </h3>
        <small>
          {{ "ratio-six.updated" }}
        </small>
      </div>
    </li>
  </ul>
</main>

{{template "../templates/footer.html"}}
<script src="/static/js/index.js"></script>
</body>
</html>
