<!doctype html>
<html lang="en">
<head>
  <title>{{ "ratio-six.title" }}</title>
  {{template "../templates/resource.html"}}
</head>
<body>
{{template "../templates/header.html"}}

<main class="main-content article">
  <h1>{{ "ratio-six.title" }}</h1>

  <img class="contain" src="/ratiosix.webp" alt="A Ratio Six with two cups of coffee"/>
  <small><em>
    A Ratio Six. Image taken from the Ratio Six product page.
  </em></small>

  <p>
    This is my review of the <a href="https://ratiocoffee.com/products/ratio-six?variant=28866736259125">Ratio Six</a>,
    a drip coffee brewer which I purchased in December 2022 and have been using every day for over a month.
  </p>

  <p>
    Buying new coffee equipment is somewhat of a hobby of mine. I recently decided that brewing a V60/Chemex/French
    press was too time-consuming each morning, which was conveniently the perfect excuse to buy a drip coffee brewer.
    After much deliberation, I picked the Ratio Six hoping to get the best drip brewer in my price range.
  </p>

  <p>
    My first impression of the Ratio Six is that it brews exceptional coffee with no effort on my part. I enjoy having
    the option of eliminating all the variables from my coffee routine to simply enjoy the coffee. It is also an
    attractive piece of machinery that helps my countertop look sleek and modern. These two things are probably the
    most important when buying a coffee brewer.
  </p>

  <p>
    If my review ended here, this would be the perfect coffee machine. Unfortunately, it is not. The brewer does have
    some flaws that should be considered when purchasing or comparing with similar brewers.
  </p>

  <p>
    First of all, I was unimpressed with the materials used on the machine. Yes, the exterior uses metal and does feel
    quite sturdy. However, the water tank and the brewing basket are both made of plastic. I was hoping that for a
    $300 price tag, I wouldn't be drinking coffee that had any hot water touching plastic, but that seems to not be the
    case.
  </p>

  <p>
    My second complaint is that the lid on the thermal carafe is hard to use on the last cup, and is likely to spill
    coffee all over your table or desk. If you've watched
    <a href="https://www.youtube.com/watch?v=t8eYs2vxT-8">James Hoffman's video comparing brewers</a>, you may
    remember this being one of his complaints about the brewer. I think that this review was completely accurate even
    with the 'updated' carafe lid.
  </p>

  <p>
    I'm considering getting the glass carafe to get around these two issues, but it would've been great if I could just
    use my Chemex with the brewer since it already fits. This is my third complaint with the brewer: it will
    not work unless you use a carafe made by Ratio. The 8-cup Chemex is the <em>perfect</em> size to fit under the
    showerhead, but it doesn't matter since the brewer won't start.
  </p>

  <p>
    The Ratio Six is a great brewer, but it has some drawbacks that don't make its price tag justifiable. You'll
    get delicious coffee out of it, but you'll wonder if there was a different brewer within your budget that didn't
    have the issues the Ratio Six does.
  </p>

</main>

{{template "../templates/footer.html"}}
<script src="/static/js/index.js"></script>
</body>
</html>
